<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv= "X-UA-Compatible" content="IE=edge">
     <meta name= "viewport" content="width=device-width, initial-scale=1.0">
     <title>Autor Detalle</title>
</head>
<body>

    <p>Nombre: <i>{{ autor.nombre }}</i> </p>
    <p>Apellido: <i> {{ autor.apellido }}</i> </p>
    <p>Profesion: <i> {{ autor.profesion }}</i> </p>
    <p>
        <a href="{% url 'AutorList' %}"> Todos los autores </a>        
    </p>



</body>
</html>